* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.auth-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #70aae4;
  /* background-color: #f8f9fa; */
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.auth-left-section {
  flex: 1;
  background-color: #4a0d67;
  color: white;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.auth-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.auth-dashboard-img {
  width: 85%;
  margin: 20px auto;
}

.auth-right-section {
  flex: 1;
  background-color: white;
  padding: 30px;
  text-align: center;
  height: 100%;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  padding: 0% 50px;
}

.auth-container label {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.auth-container input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  background-color: #4a0d67;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
}

.auth-container button:hover {
  background-color: #3a0a50;
}

.auth-container p {
  margin-top: 15px;
}

.auth-container a {
  color: #4a0d67;
  text-decoration: none;
  font-weight: bold;
}

.auth-container a:hover {
  text-decoration: underline;
}

.auth-main {
  padding: 2rem;
}

.auth-inputBody {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.auth-error_span {
  color: red;
}
